<div class="space-y-4">
              
  <form action="/favourites" method="POST">
    <input type="hidden" name="Id" value="<%= home.id %>">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-red-600
    transition-colors">Add to Favorites</button>
  </form>
  
</div>