*{
  margin: 0px;
  padding: 0px;
}

.container{

  /* Flex Box */
  width: 60%;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: aqua;
  flex-direction: row;
  flex-wrap: wrap;
}

.box{

  height: 81px;
  width: 102px;
  background-color: tomato;
  border: 2px solid black;
  border-radius: 1px;
  margin: 10px;

}

body{
  width: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(237, 237, 131);
}