
*{ 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;  
}
    
    h1{
      font-size: 35px;
      color: dodgerblue;
    }
    /* I will change this color later */
    p{
      color: red;
      
    }
    h2{
      color: green;
    }
