*{
  margin: 0px;
  padding: 0px;
}

.container{
  
   height: 500px;
   width: 500px;
   background-color: dodgerblue;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.box{

  height: 80px;
  width: 60px;
  background-color: brown;
  margin: 10px;
  text-align: center;
}