*{
  margin: 0px;
  padding: 0px;
}

.container{
  
   height: 50%;
   width: 80%;
   background-color: dodgerblue;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;

}

body{
            width: auto;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgb(237, 237, 131);
}

.box{

  height: 80px;
  width: 60px;
  background-color: brown;
  margin: 10px;
  text-align: center;
}