*{
  margin: 0px;
  padding: 0px;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: antiquewhite;
 
}
h2{
  padding: 10px;
  color: dodgerblue;
}
h2:hover{

  color: blue;
}
input[type]{
  margin: 10px;
  padding: 5px;
  border-radius: 2rem;

}

input[type]:hover{

  background-color: rgb(202, 202, 202);
  

}

.container{

  height: 300px;
  width: 200px;
  min-width: 302px;
  min-height: 400px;
  background-color: #e4e8fc;
  border:3px solid dodgerblue;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2rem;
}

.submit{
  padding: 10px;
}